html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

.masterNavbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.8);
    padding: 15px;
    height: 15px;
    width: 98%;
}

.masterNavbar a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border-width: 0 1px 0 0;
    border-style: solid;
}
.navPageLinks {
    display: flex;
    list-style: none;
}

.navPageLinks li {
    margin: 0 0 0 5px;

}

.masterNavbar .navLinksEnd {
    border-width: 0;
    margin: 0;
}

.homeLink a{
    display: flow;

}