.homeHeader {
    background-color: black;
    height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/CS-257-Webpage/Webpages/Assets/Images/Portraits/HeaderImage2.png");
    background-size: cover;
    background-position-y: 42%;
    background-repeat: no-repeat;
}

.underliningSeparatorBar {
    border-style: solid none none none;
    border-color: white;
    border-radius: 5px;
    width: 100%;
    height: 0;
}

.homeHeaderH1 {
    text-align: center;
    color: white;
    font-size: 6rem;
}

.homeHeaderH3 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.verticalSpacer {
    display: table-column;
    width: 50%
}

.projectsSection {
    background-color: black;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    color: white;
}

.projectSortBar {
    display: flex;
    background-color: darkgrey;
    height: 25px;
    width: 95%;
    margin: auto;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 15px;
}

#classSortBy, #projectSortBy {
    background-color: white;
    height: 25px;
    width: 150px;
}

#classSortBy, #labelClassSortBy {
    display: none;
    height: 25px;
    width: 150px;
}

.H2 {
    text-align: center;
    font-size: 1.5rem;
}

#projectsContainer {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    height: auto;
}

.projectEntry {
    display: flex;
    width: 350px;
    height: auto;
    background-color: gray;
    justify-content: center;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}

.projectEntry img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.projectEntry h4 {
    text-align: center;
    font-size: 28px;
    text-wrap: wrap;
}

.projectEntryFooter {
    text-align: center;
    border-style: solid none none none;
    border-width: 1px;
    padding-top: 5px;
}

#noResultsText {
    display: none;
    position: relative;
    bottom: 250px;
    text-align: center;
}

.aboutSection {
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    background-color: darkgrey;
    align-content: center;
    justify-content: center;
}

#aboutMeParagraphs {
    display: grid;
    text-align: center;
    align-content: inherit;
    justify-content: inherit;
}

#aboutMeParagraph, .aboutMeParagraph, #finalAboutMeParagraph {
    text-wrap: auto;
    width: 850px;
    font-size: large;
    padding: 15px;
    border-bottom: solid lightgray;
}

#finalAboutMeParagraph {
    border-bottom: none;
}

.educationSection {
    display: flex;
    color: white;
    background-color: black;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.classes {
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px;
    width: 100%;
}

.computerScienceCourse {
    border: solid lightgray;
    padding: 15px;
    height: auto;
    border-radius: 15px;
    background-color: black;
    margin: 15px;
}

.computerScienceCourse p {
    text-wrap: wrap;
    text-indent: 30px;
}

.contactMeSection {
    display: flex;
    color: white;
    background-color: darkgrey;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.contactMe a {
    display: grid;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border: solid lightgray;
    border-radius: 15px;
    grid-template-columns: auto auto auto;
}

.contactMe a, .mainFooter a {
    color: white;
    text-underline-style: none;
    font-style: normal;
}

.mainFooter {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    padding: 15px;
    height: auto;
    margin: 0;
    color: white;
    justify-content: space-evenly;
}

.mainFooter p {
    margin: 0;
}

.ProjectFullScreenWidget {
    height: 95%;
    width: 95%;
    display: grid;
    position: fixed;
    top: 2.5%;
    left: 3%;
    background-color: white;
    border-radius: 15px;
}

.projectNameBox, .centerContent {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 55px;
}

.ProjectFullScreenWidget #projectName {

}

#projectExitButton {

}

.projectContent {
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
}

.projectImageDiv {
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
}

.projectImageDiv img {
    max-height: 50px;
    max-width: 50px;
}

.imgButtons {
    display: grid;
    grid-template-columns: auto auto;
}

.projectDesc {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    max-width: 650px;
}